@use "../../scss/" as *;

.team__container {
  @include flex(center, center);
  max-width: min(100%, 80rem);
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  @include desktop {
    flex-direction: row;
    padding: 8%;
    gap: 2.5rem;
  }
}

.team__image--wrapper {
  flex: 1;
}

.team__content--wrapper {
  @include bottom-spacing(1rem);
  flex: 1;
  max-width: 60ch;
  @include desktop {
    & > h2 {
      font-size: 2.5rem;
    }
  }
}

.team__link {
  text-decoration: none;
  padding-bottom: 0.25em;
  color: $clr-accent-cta-gradient-cyan;
  border-bottom: 1px solid $clr-accent-cta-gradient-cyan;
  & svg {
    margin-left: 0.3em;
  }
  &:hover,
  &:focus {
    color: $clr-neutral;
    border-color: $clr-neutral;
  }
}
