@use "../../scss/" as *;

.testimonial__container {
  @include flex(center, center);
  max-width: min(100%, 80rem);
  flex-wrap: wrap;
  gap: 1.5rem 1rem;
}

.testimonial__card {
  width: min(80%, 360px);
  background-color: $clr-primary-bg-testimonials;
  padding: 1.75rem;

  // quotes background
  &:first-child {
    position: relative;
    &::before {
      content: "";
      width: 60px;
      height: 60px;
      position: absolute;
      top: -30px;
      left: 5px;
      background-image: url("../../images/bg-quotes.png");
      background-repeat: no-repeat;
      background-size: 80%;
    }
  }

  &--heading {
    @include flex(center, flex-start);
    margin-top: 1.5rem;

    & img {
      border-radius: 50%;
      max-width: 12%;
      margin-inline-end: 0.5rem;
    }
  }
  &--profile {
    h4 {
      font-size: 0.8rem;
      color: $clr-neutral;
    }
    span {
      font-size: 0.7rem;
      color: $clr-neutral;
      opacity: 0.7;
    }
  }
}
