@use "./scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-primary;
  font-size: $fs-primary;
  font-weight: $fw-regular;
  background: $clr-primary-bg-main;
  color: $clr-neutral;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

// Utility classes
.btn {
  @include btn;
}
.main-wrapper {
  @include flex(center, center);
  flex-direction: column;
}
.heading {
  font-family: $ff-accent;
  font-weight: $fw-bold;
  font-size: 1.5rem;
  @include desktop {
    font-size: 2.5rem;
  }
  &__sub {
    font-size: 1.125rem;
  }
}
.paragraph {
  font-size: $fs-primary;
  opacity: 0.7;
  @include desktop {
    font-size: 1.25rem;
  }
}
