@use "./variables" as *;

@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin grid {
  display: -ms-grid;
  display: grid;
}

@mixin bottom-spacing($margin-bottom) {
  & *:not(:last-child) {
    margin-bottom: $margin-bottom;
  }
}

@mixin grid-child($col-start, $col-end, $row-start, $row-end) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-column: #{$col-start}/#{$col-end};
  grid-row: #{$row-start}/#{$row-end};
}

@mixin gradient {
  background: $clr-accent-cta-gradient-cyan;
  background: linear-gradient(
    120deg,
    $clr-accent-cta-gradient-cyan 0%,
    $clr-accent-cta-gradient-blue 100%
  );
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin btn($padding: 1em 6em) {
  text-decoration: none;
  padding: $padding;
  border-radius: 30px;
  color: $clr-neutral;
  @include gradient;
  &:hover,
  &:focus {
    background: $clr-accent-cta-gradient-cyan;
  }
}

@mixin box-shadow {
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2);
}
