// Variables
// Colors
$clr-primary-bg-intro: hsl(217, 28%, 15%);
$clr-primary-bg-main: hsl(218, 28%, 13%);
$clr-primary-bg-footer: hsl(216, 53%, 9%);
$clr-primary-bg-testimonials: hsl(219, 30%, 18%);

$clr-neutral: hsl(0, 0%, 100%);

$clr-accent-error: hsl(0, 100%, 63%);
$clr-accent-cta-gradient-cyan: hsl(176, 68%, 64%);
$clr-accent-cta-gradient-blue: hsl(198, 60%, 50%);

// Typography
$fs-primary: 14px;
$ff-primary: "Open Sans", sans-serif;
$ff-accent: "Raleway", sans-serif;
$fw-regular: 400;
$fw-bold: 700;

$breakpoint-desktop: 60em;
